.view-bookmarks {
  min-height: 100%;
  background-color: #374046;
}

.bookmarks-list {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: hsl(210, 15%, 20%);
  background: #374046;
}

/* Bookmark Item */

.bookmark {
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bookmark-name {
  letter-spacing: 0.5px;
}

.bookmark-host {
  font-size: 14px;
}

/* Add Bookmark Button */

.bookmark-add {
  padding: 20px;
  text-align: center;
}

.bookmark-add button {
  padding: 10px 15px;
  color: #fff;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
