.bookmarks-list {
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: hsl(210, 15%, 20%);
  background: #374046;
}


.bookmark-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
}

.bookmark-header-title {
  opacity: 0.5;
}

.bookmark-header-add {
  cursor: pointer;
}


.bookmark-list {

}


.bookmark {
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bookmark-name {
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.bookmark-host {
  font-size: 14px;
  opacity: 0.6;
}


.bookmarks-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(0,0,0,.2);
  border-radius: 5px;
}



.form-field {

}

.form-field-title {
  margin: 0 0 10px 10px;
  font-size: 14px;
  opacity: 0.9;
}

.form-field input {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  border: 0;
  background: rgba(0,0,0,.25);
}
