.tabbar {
  background: #3f51b5;
  background: #607D8B;
}

.tab {
  padding: 10px 15px;
  margin: 0;
  color: #CFD8DC;
  font-family: var(--font);
  font-size: 15px;
  letter-spacing: 0.5px;
  background: transparent;
  border: 0;
  cursor: pointer;
  appearance: none;
}

.tab:active,
.tab:focus {
  text-decoration: underline;
  outline: none;
}

.tab.is-active {
  color: #000;
  background: #fff;
}

.tab-bookmarks.is-active {
  color: #fff;
  background: #374046;
}
