/* Variables */

:root {
  --font: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: var(--font);
}

@import "components/Bookmark/style.css";
@import "components/Tabbar/style.css";
@import "components/Connection/style.css";

/* Queue */

.queue {

}
